.controller{
    border-radius: 0;
    background-color: transparent;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: var(--green);
    border: none;
}
.selected{
    color: #fff;
    background-color: var(--green);
    border-radius: 4px 0 0 4px;
}