.toast-message {
    position: fixed;
    top: 10%;
    right: 20%;
    transform: translateX(-50%);
    background-color: #14d56e;
    color: #fff0ee;
    padding: 10px 20px;
    border-radius: 4px;
    opacity: 0;
    box-shadow: 0 0 4px #14d56e;
    transition: opacity 0.3s ease-in-out;
    display: flex;
  }
  
  .toast-message.visible {
    opacity: 1;
  }
  
  .toast-content {
    margin-bottom: 5px;
  }
  
  .toast-close {
    background-color: transparent;
    border: none;
    background-color: rgb(228, 87, 87);
    color: #fff;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    width: 24px;
    aspect-ratio: 1/1;
    margin-left: 4px;

  }
  
  .toast-close:focus {
    outline: none;
  }
  